<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Item1</string>
		<key>ImageLink</key>
		<string>Item</string>
		<key>IsDe</key>
		<false/>
		<key>IsHet</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Item2</string>
		<key>ImageLink</key>
		<string>Item</string>
		<key>IsDe</key>
		<true/>
		<key>IsHet</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Item3</string>
		<key>ImageLink</key>
		<string>Item</string>
		<key>IsDe</key>
		<true/>
		<key>IsHet</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Item4</string>
		<key>ImageLink</key>
		<string>Item</string>
		<key>IsDe</key>
		<false/>
		<key>IsHet</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Item5</string>
		<key>ImageLink</key>
		<string>Item</string>
		<key>IsDe</key>
		<true/>
		<key>IsHet</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Item6</string>
		<key>ImageLink</key>
		<string>Item</string>
		<key>IsDe</key>
		<false/>
		<key>IsHet</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Item7</string>
		<key>ImageLink</key>
		<string>Item</string>
		<key>IsDe</key>
		<false/>
		<key>IsHet</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Item8</string>
		<key>ImageLink</key>
		<string>Item</string>
		<key>IsDe</key>
		<true/>
		<key>IsHet</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Item9</string>
		<key>ImageLink</key>
		<string>Item</string>
		<key>IsDe</key>
		<false/>
		<key>IsHet</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Item10</string>
		<key>ImageLink</key>
		<string>Item</string>
		<key>IsDe</key>
		<false/>
		<key>IsHet</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Item11</string>
		<key>ImageLink</key>
		<string>Item</string>
		<key>IsDe</key>
		<false/>
		<key>IsHet</key>
		<true/>
	</dict>
</array>
</plist>
