<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>adres</string>
		<key>ImageLink</key>
		<string>Item</string>
		<key>IsDe</key>
		<false/>
		<key>IsHet</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>gezin</string>
		<key>ImageLink</key>
		<string>Item</string>
		<key>IsDe</key>
		<false/>
		<key>IsHet</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Zus</string>
		<key>ImageLink</key>
		<string>Item</string>
		<key>IsDe</key>
		<true/>
		<key>IsHet</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Broer</string>
		<key>ImageLink</key>
		<string>Item</string>
		<key>IsDe</key>
		<true/>
		<key>IsHet</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Haar</string>
		<key>ImageLink</key>
		<string>Item</string>
		<key>IsDe</key>
		<false/>
		<key>IsHet</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Seizoen</string>
		<key>ImageLink</key>
		<string>Item</string>
		<key>IsDe</key>
		<false/>
		<key>IsHet</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cafe</string>
		<key>ImageLink</key>
		<string>Item</string>
		<key>IsDe</key>
		<false/>
		<key>IsHet</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Zomer</string>
		<key>ImageLink</key>
		<string>Item</string>
		<key>IsDe</key>
		<true/>
		<key>IsHet</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Maand</string>
		<key>ImageLink</key>
		<string>Item</string>
		<key>IsDe</key>
		<true/>
		<key>IsHet</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cursus</string>
		<key>ImageLink</key>
		<string>Item</string>
		<key>IsDe</key>
		<true/>
		<key>IsHet</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Kantine</string>
		<key>ImageLink</key>
		<string>Item</string>
		<key>IsDe</key>
		<true/>
		<key>IsHet</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Land</string>
		<key>ImageLink</key>
		<string>Item</string>
		<key>IsDe</key>
		<false/>
		<key>IsHet</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Rondje</string>
		<key>ImageLink</key>
		<string>Item</string>
		<key>IsDe</key>
		<false/>
		<key>IsHet</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Koffie</string>
		<key>ImageLink</key>
		<string>Item</string>
		<key>IsDe</key>
		<true/>
		<key>IsHet</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Pauze</string>
		<key>ImageLink</key>
		<string>Item</string>
		<key>IsDe</key>
		<true/>
		<key>IsHet</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Foto</string>
		<key>ImageLink</key>
		<string>Item</string>
		<key>IsDe</key>
		<true/>
		<key>IsHet</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Biertje</string>
		<key>ImageLink</key>
		<string>Item</string>
		<key>IsDe</key>
		<false/>
		<key>IsHet</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Tekst</string>
		<key>ImageLink</key>
		<string>Item</string>
		<key>IsDe</key>
		<true/>
		<key>IsHet</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Man</string>
		<key>ImageLink</key>
		<string>Item</string>
		<key>IsDe</key>
		<true/>
		<key>IsHet</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Vrouw</string>
		<key>ImageLink</key>
		<string>Item</string>
		<key>IsDe</key>
		<true/>
		<key>IsHet</key>
		<false/>
	</dict>
</array>
</plist>
